.article > div {
  min-height: 150px;
}

h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.published-date {
  font-size: 13px;
  font-style: italic;
  color: #6a6c6f;
  margin-top: 2px;
  margin-bottom: 2px;
}
